extends layout

append head
  script
    $(document).ready(function() { $('#id').focus();});
block main
  #main
    form(action='/login', method='post')
      table.login
        tr
          td ID:
          td
            input(type='text', name='userid', id='id')
        tr
          td Pass:
          td
            input(type='password', name='password')
        tr
          td(colspan='2')
            input(type='submit', value='login')
