body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main, #content {
  text-align: center;
}

table.login {
  margin: 0 auto 0 auto;
  width: 20%;
}

#toggle_backlog {
  color:#EEE;
  float:left;
}

#toggle_backlog:hover {
  color: #CBB;
}

#useradmin {
  float: right;
}

#chat_backlog_container {
  text-align: left;
  margin: 0 auto 0 auto;
  width: 60%;
  height: 200px;
  overflow: scroll;
  position: relative;
}

.backlog {
  top: 0px;
  position: absolute;
}

#chat_input_box {
  width: 60%;
}

