body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main, #content {
  text-align: center;
}

table.login {
  margin: 0 auto 0 auto;
  width: 20%;
}

#toggle_backlog {
  color:#FFF;
  float:left;
}

#toggle_backlog:hover {
  color: #CBB;
}

#useradmin {
  float: right;
}

#chat_backlog_container {
  text-align: left;
  margin: 0 auto 0 auto;
  width: 450px;
  height: 350px;
  overflow: scroll;
  position: relative;
}

.backlog {
  width: 100%;
  top: 0px;
  position: absolute;
}

.mymsg {
  text-align: right;
}

.othermsg{
  text-align: left;
}

.mymsg, .othermsg {
  width: 100%;
}

.infoline {
  width: 100%;
  background: #DDD;
}

.infoline .user {
  color: red;
}

.infoline .time {
  color: #345;
}

.infoline .date {
  color: #AAA;
}

#chat_input_box {
  width: 60%;
}

